@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

body {
    font-family: 'Roboto', sans-serif;
}

.tableContainer {

    //header class
    .MuiToolbar-root-35 {
        display: inline-flex;
        padding-bottom: 15px;
        padding-left: 90%;
        transform: translateX(-50%);

        h6 {
            font-weight: 600;
        }
    }

    th {
        text-transform: uppercase;
        color: #000000 !important;
        border-bottom: black 1px solid;
        position: relative;
        padding-top: 18px;
        padding-bottom: 0;

        //Would need to come up with a more dynamic solution for secondary headers
        &:nth-child(5):before {
            content: "WOMEN (PER 100)";
            position: absolute;
            top: 0;
            border-bottom: black 1px solid;
            width: 140%;
        }

        &:nth-child(7):before {
            content: "CO2 SCOPE 1 & 2";
            position: absolute;
            top: 0;
            border-bottom: black 1px solid;
            width: 140%;
        }

        &:nth-child(9):before {
            content: "CO2 SCOPE 3";
            position: absolute;
            top: 0;
            border-bottom: black 1px solid;
            width: 140%;
        }
    }

    td {
        color: #383838 !important;
        text-align: center;
    }

    // DataBar component style
    .data-bar-container {
        display: flex;

        .score {
            position: absolute;
            left: 0;
            top: 35%;
            padding-right: 15px;
        }

        .bar {
            width: 100%;
            height: 20px;
            position: absolute;
            left: 50px;
            top: 33%;
        }
    }

    // Paginate component style
    .paginate-cell {
        display: inline-flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        font-size: 14px;

        div {
            display: flex;
            width: 4em;
            height: 60%;
            margin: 0.6em;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .paginate-button {
            border: #303030 1px solid;
            cursor: pointer;

            &:hover {
                background-color: lightgrey;
            }
        }

        .paginate-pages {
            display: flex;
            justify-content: space-evenly;

            .number {
                text-decoration: underline;
            }
        }
    }
}